@{
    ViewBag.Title = "View";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Your Business For Sale Information</h2>
                @using (Html.BeginForm("register-business", "Business", FormMethod.Post, new { @class= "business-register-form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()


                <!--<form id="business-register-form" class="business-register-form" name="business-register-form" action="/register-business" method="post" enctype="multipart/form-data">
                   --> <fieldset>


        <!-- SECTION-1 -->
                        <div class="col-lg-12 col-md-12">
                            <div class="filterContent sidebarWidget">
                                <h3 class="borderbottom">Listing Details</h3>
                                <div class="mrt20 clr"></div>
                                <div class="row">

                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="formBlock">
                                            <label for="name">Listing Title</label><br>
                                            <input type="text" id="name" name="name" class="formDropdown">
                                            <p class="smalltext">This serves as primary identifier of your listing. As an example "Popular New York Italian Restaurant".</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="formBlock">
                                            <label for="name">Listing Summary</label><br>
                                            <textarea id="description" name="description" class="formDropdown"></textarea>
                                            <p class="smalltext">Highlight the unique selling points of your business. Be as detailed as you prefer to disclose. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION-1 -->
                        <!-- SECTION-2 -->
                        <div class="col-lg-12 col-md-12">
                            <div class="filterContent sidebarWidget">
                                <h3 class="borderbottom">Select Type of Business</h3>
                                <div class="mrt20 clr"></div>
                                <div class="row">

                                    <div class="col-lg-12 col-md-12 col-sm-12">

                                        <div class="business_sectors_txt_bg">
                                            <div class="business_sectors_txt">

                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="business_sectors_outer" id="showcategorydiv" style="display:none; min-height:10px;">
                                                            <div class="business_sectors_hdr">
                                                                <table><tbody><tr><td>Selected Business Sectors</td> <td>&nbsp;<input type="button" class="buttonColor" id="btnaddmorecategories" name="btnaddmorecategories" value="Add More Categories"></td></tr></tbody></table>
                                                            </div>
                                                            <div id="TextBoxesGroup"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mrt20 clr"></div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                        <div class="business_sectors_outer" id="addcategorydiv">

                                                            <ul class="tabSmall">
                                                                <li><a href="#browsecategory" class="buttonGrey tab current">Browse Category</a></li>
                                                            </ul>


                                                            <div id="browsecategory" class="sidebarWidget tabConent">
                                                                <div class="row">

                                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                                        <div class="formBlock">
                                                                            <label>Category</label><br>
                                                                            @Html.DropDownList("Categories", (IEnumerable<SelectListItem>)ViewBag.Categories, "Select Category", new { @class = "formDropdown" })
                                                                            <!--<select id="BusinessCategoryId" name="BusinessCategoryId" class="formDropdown" onchange="getSubsectorlist(this.value,'https://listing.businessforsale.com/');">
                                                                 
                                                                            </select>-->
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                                        <div class="formBlock">
                                                                            <label>Sub-Category</label><br>
                                                                            <div id="subsecidDiv"> <select id="subcategories" class="formDropdown"><option value="0">Select Sub-Category</option></select>  </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                                        <div class="formBlock">
                                                                            <label>Sector</label><br>
                                                                            <div id="subseccatidDiv">  <select id="bus_category1" class="formDropdown"><option value="0">Select Sector</option></select>  </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="clr gap_10"></div>
                                                <div class="clr"></div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- SECTION-2 -->
                        <!-- SECTION-3 -->
                        <div class="col-lg-12 col-md-12">
                            <div class="filterContent sidebarWidget">
                                <h3 class="borderbottom">Business Location</h3>
                                <div class="mrt20 clr"></div>
                                <div class="row">

                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="formBlock">
                                            <label for="name">Country</label><br>
                                            @Html.DropDownList("Countries", (IEnumerable<SelectListItem>)ViewBag.Countries, "Select Country", new { @class = "formDropdown" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="formBlock">
                                            <label for="name">State / Region</label><br>
                                            <select id="province" class="formDropdown"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="formBlock">
                                            <label for="name">City / County</label><br>
                                            <select class="formDropdown" id="city" name="city"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="formBlock">
                                            <label for="name">Area / Address</label><br>
                                            <input type="text" name="bus_area" id="bus_area" class="formDropdown">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION-3 -->
                        <!-- SECTION-4 -->
                        <div class="col-lg-12 col-md-12">
                            <div class="filterContent sidebarWidget">
                                <h3 class="borderbottom">Financial Details</h3>
                                <div class="mrt20 clr"></div>
                                <div class="row">

                                    <div class="col-lg-8 col-md-8 col-sm-8">

                                        <div class="row">
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <div class="formBlock">
                                                    <label for="name">Currency</label><br>
                                                    <select tabindex="1" name="bus_currency" id="bus_currency" class="formDropdown"><option value="USD">US Dollars (USD)</option><option value="EUR">Euro (EUR)</option><option value="GBP">British Pounds (GBP)</option><option value="CAD">Canadian Dollars (CAD)</option><option value="AUD">Australian Dollars (AUD)</option><option value="INR">Indian Rupees (INR)</option><option value="ZAR">South African Rand (ZAR)</option><option value="AED">UAE Dirhams (AED)</option><option value="SGD">Singapore Dollars (SGD)</option><option value="NZD">New Zealand Dollars (NZD)</option><option value="JPY">Japan Yen (JPY)</option><option value="CNY">China Yuan Renminbi (CNY)</option><option value="THB">Thailand Baht (THB)</option><option value="ILS">Israeli New Shekel (NIS)</option><option value="NOK">Norwegian Krone (NOK)</option></select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                                <div class="formBlock">
                                                    <label for="name">&nbsp;</label><br>

                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <div class="formBlock">
                                                    <label for="name">&nbsp;</label><br>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <div class="formBlock">
                                                    <label for="name">Price</label><br>
                                                    <select tabindex="1" name="bus_askingprice" id="bus_askingprice" class="formDropdown">
                                                        <option value="0">Select Rate</option>
                                                        <option value="1">under 100k</option>
                                                        <option value="2">100k - 250k</option>
                                                        <option value="3">250k - 500k</option>
                                                        <option value="4">500k - 1m</option>
                                                        <option value="5">1m - 5m</option>
                                                        <option value="6">5m &amp; Above</option>
                                                        <option value="7">not disclosed</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                                <div class="formBlock">
                                                    <label for="name"></label><br><span id="askOr">OR</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <div class="formBlock">
                                                    <label for="name">Specific Price</label><br>
                                                    <input type="text" name="fixed_asking_price" id="fixed_asking_price" value="" class="formDropdown" maxlength="12">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <div class="formBlock">
                                                    <label for="name">Revenue</label><br>
                                                    <select tabindex="1" name="bus_salesrevenue" id="bus_salesrevenue" class="formDropdown">
                                                        <option value="0">Select Rate</option>
                                                        <option value="1">under 100k</option>
                                                        <option value="2">100k - 250k</option>
                                                        <option value="3">250k - 500k</option>
                                                        <option value="4">500k - 1m</option>
                                                        <option value="5">1m - 5m</option>
                                                        <option value="6">5m &amp; Above</option>
                                                        <option value="7">not disclosed</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                                <div class="formBlock">
                                                    <label for="name"></label><br><span id="saleOr">OR</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <div class="formBlock">
                                                    <label for="name">Specific Revenue</label><br>
                                                    <input type="text" name="fixed_sales_revenue" id="fixed_sales_revenue" value="" class="formDropdown" maxlength="12">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <div class="formBlock">
                                                    <label for="name">Cash Flow</label><br>
                                                    <select tabindex="1" name="bus_cashflow" id="bus_cashflow" class="formDropdown">
                                                        <option value="0">Select Rate</option>
                                                        <option value="1">under 100k</option>
                                                        <option value="2">100k - 250k</option>
                                                        <option value="3">250k - 500k</option>
                                                        <option value="4">500k - 1m</option>
                                                        <option value="5">1m - 5m</option>
                                                        <option value="6">5m &amp; Above</option>
                                                        <option value="7">not disclosed</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2">
                                                <div class="formBlock">
                                                    <label for="name"></label><br><span id="cashOr">OR</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5">
                                                <div class="formBlock">
                                                    <label for="name">Specific Cash Flow</label><br>
                                                    <input type="text" name="fixed_cash_flow" id="fixed_cash_flow" value="" class="formDropdown" maxlength="12">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <p class="smalltext">
                                            <span class="required">Tip*</span>: We request you to key in financial figures as described below:<br>
                                            Example: For Ten Thousand: 10000 &amp; for Hundred &amp; Fifty Thousand: 150000<br>
                                            Kindly do not use commas or dots, they are filled by our software.
                                        </p>

                                        <p class="smalltext"><span class="required">Pricing*</span>: Provide information for latest 12 months. Buyers generally define a range to search under. If you select "Not Disclosed", your listing may not be displayed in some searches.</p>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- SECTION-4 -->
                        <!-- SECTION-5 -->
                        <div class="col-lg-12 col-md-12">
                            <div class="filterContent sidebarWidget">
                                <h3 class="borderbottom">Further Business Details</h3>
                                <div class="mrt20 clr"></div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="formBlock">
                                            <label for="name">Business Location</label><br>
                                            <textarea id="bus_location" name="bus_location" class="formDropdown" style="max-height:60px;"></textarea>
                                            <p class="smalltext">Please describe you business location as a snapshot. For example: Main Road Facing, Residential Area on 5th Avenue, Online Store etc.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="formBlock">
                                            <label for="name">Premise Details</label><br>
                                            <textarea id="bus_premisese" name="bus_premisese" class="formDropdown" style="max-height:60px;"></textarea>
                                            <p class="smalltext">Please describe you business premises, if needed.</p>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="formBlock">
                                            <label for="name">Competition</label><br>
                                            <textarea id="bus_competition" name="bus_competition" class="formDropdown" style="max-height:60px;"></textarea>
                                            <p class="smalltext">Please describe your business competitors, if desired.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="formBlock">
                                            <label for="name">Expansion Potential</label><br>
                                            <textarea id="bus_expension_potential" name="bus_expension_potential" class="formDropdown" style="max-height:60px;"></textarea>
                                            <p class="smalltext">Please describe your business expansion potential, if applicable.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION-5 -->
                        <!-- SECTION-6 -->
                        <div class="col-lg-12 col-md-12">
                            <div class="filterContent sidebarWidget">
                                <h3 class="borderbottom">Operation Details</h3>
                                <div class="mrt20 clr"></div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="formBlock">
                                            <label for="name">Size</label><br>
                                            <textarea id="bus_sizeinsqfeet" name="bus_sizeinsqfeet" class="formDropdown" style="max-height:60px;" placeholder="Example: 300 Sq. Mtrs or 500 Sq. Ft."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="formBlock">
                                            <label for="name">Years Established</label><br>
                                            <textarea id="bus_years_establsh" name="bus_years_establsh" class="formDropdown" style="max-height:60px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="formBlock">
                                            <label for="name">Employees</label><br>
                                            <textarea id="bus_employees" name="bus_employees" class="formDropdown" style="max-height:60px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="formBlock">
                                            <label for="name">Trading Hours</label><br>
                                            <textarea id="bus_tradinghour" name="bus_tradinghour" class="formDropdown" style="max-height:60px;"></textarea>
                                            <p class="smalltext">Please describe the hours your business is open, if desired.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="formBlock">
                                            <label for="name">Support &amp; Training</label><br>
                                            <textarea id="bus_supportTraining" name="bus_supportTraining" class="formDropdown" style="max-height:60px;"></textarea>
                                            <p class="smalltext">Please describe what handover support you can provide, if applicable.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="formBlock">
                                            <label for="name">Website ( Example: www.yoursite.com )</label><br>
                                            <textarea id="bus_website" name="bus_website" style="height:50px;" class="formDropdown"></textarea>
                                            <p class="smalltext">Website address displayed immediately only with paid listings. If added by a free trial seller, it will automatically be shown when a free trial seller upgrades at a future date.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION-6 -->
                        <!-- SECTION-7 -->
                        <div class="col-lg-12 col-md-12">
                            <div class="filterContent sidebarWidget">
                                <h3 class="borderbottom">Miscellaneous</h3>
                                <div class="mrt20 clr"></div>
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="formBlock">
                                            <label for="name">Reason for Selling</label><br>
                                            <textarea id="bus_reasonforsale" name="bus_reasonforsale" class="formDropdown" style="max-height:60px;"></textarea>
                                            <p class="smalltext">Please describe the reasons that bring about this business for sale, if desired.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SECTION-7 -->
                        <div class="mrt20 clr"></div>
                        <div class="col-lg-12 col-md-12">

                            <input type="checkbox" name="terms" id="terms" checked="checked"><span onclick="check('relocatable1')" class="radioLabel"> I have read and agree with the <a href="http://www.businessforsale.com/terms-conditions.html" target="_blank" title="Term and Conditions">Terms and Conditions</a> &amp; <a href="http://www.businessforsale.com/privacy-policy.html" target="_blank" title="Term and Conditions">Privacy Policy</a></span>

                        </div>
                        </fieldset>
                }
            </div>
        </div>
    </div> 
</section>
@section scripts{
    <script type="text/javascript">

        $(function () {
            $('#Countries').on('change', function () {
                var provinceDropdown = $('#province');
                //disable city drop down
                //provinceDropdown.prop('disabled', 'disabled');
                //clear drop down of old city
                provinceDropdown.empty();

                //retrieve selected state
                var country = $(this).val();
                console.log(country);
                if (country.length > 0) {
                    // retrieve data using a Url.Action() to construct url
                    $.getJSON('@Url.Action("GetProvinces")', {
                        country: country
                    })
                        .done(function (data) {
                            //re-enable city drop down
                            //provinceDropdown.removeProp('disabled');
                            console.log(data);
                            //for each returned state
                            $.each(data, function (i, province) {
                                //Create new option
                                var option = $('<option />').val(province.Id).html(province.Name);
                                //append city states drop down
                                provinceDropdown.append(option);
                            });
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            console.log("Request Failed: " + err);
                        });
                } else {
                    provinceDropdown.prop('disabled', 'disabled');
                }

            });


            $('#province').on('change', function() {
                var cityDropdown = $('#city');
                //disable city drop down
                //provinceDropdown.prop('disabled', 'disabled');
                //clear drop down of old city
                cityDropdown.empty();

                //retrieve selected state
                var province = $(this).val();
                if (province.length > 0) {
                    // retrieve data using a Url.Action() to construct url
                    $.getJSON('@Url.Action("GetCities")', {
                        province: province
                    })
                    .done(function (data) {
                        //re-enable city drop down
                        //provinceDropdown.removeProp('disabled');
                        //for each returned state
                        $.each(data, function (i, city) {
                            //Create new option
                            var option = $('<option />').val(city.Id).html(city.Name);
                            //append city states drop down
                            cityDropdown.append(option);
                        });
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        var err = textStatus + ", " + error;
                        console.log("Request Failed: " + err);
                    });
                } else {
                    cityDropdown.prop('disabled', 'disabled');
                }
            });

            $('#Categories').on('change', function() {
                var subDropdown = $('#subcategories');
                //disable city drop down
                //provinceDropdown.prop('disabled', 'disabled');
                //clear drop down of old city
                subDropdown.empty();

                //retrieve selected state
                var category = $(this).val();
                if (category.length > 0) {
                    // retrieve data using a Url.Action() to construct url
                    $.getJSON('@Url.Action("GetSubCategories")', {
                        category: category
                    })
                    .done(function (data) {
                        //re-enable city drop down
                        //provinceDropdown.removeProp('disabled');
                        //for each returned state
                        $.each(data, function (i, subcategory) {
                            //Create new option
                            var option = $('<option />').val(subcategory.Id).html(subcategory.Name);
                            //append city states drop down
                            subDropdown.append(option);
                        });
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        var err = textStatus + ", " + error;
                        console.log("Request Failed: " + err);
                    });
                } else {
                    subDropdown.prop('disabled', 'disabled');
                }
            });
        })
    </script>
}

  

